@import "variable";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;  
}

html{
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 400;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

/* common */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @mixin container($gap: $gap-lg, $container-width: $container-primary) {
    width: min(100% - $gap, $container-width);
    margin-inline: auto;
  }
  
  .container {
    @include container;
  }
  
  .container--sm {
    @include container($gap-lg, $container-sm);
  }
  